<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th>Likes</th>
      <th>Comments</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% books.each do |book| %>
      <tr>
        <td>
          <%= link_to(book.user) do %>
            <%= image_tag book.user.get_profile_image, size:'50x50' %>
          <% end %>
        </td>
        <td><%= link_to book.title, book %></td>
        <td><%= book.body %></td>
        <td><strong>Likes:</strong> <%= book.likes_count %></td>
        <td><strong>Comments:</strong> <%= book.comments_count %></td>
        <td>
          <% if current_user.favorite_books.include?(book) %>
            <%= link_to book_favorites_path(book), method: :delete, class: "btn btn-danger" do %>
              <i class="fas fa-heart"></i> <%= book.likes_count %>
            <% end %>
          <% else %>
            <%= link_to book_favorites_path(book), method: :post, class: "btn btn-primary" do %>
              <i class="far fa-heart"></i>  <%= book.likes_count %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
